@import './base.less';
@import url("//unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css");
html{
  height: 100%;
}
body{
  height: calc(99% - 4px);
  overflow-x: hidden
}
.icon {
  display: inline-block;
  font-style: normal;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.icon-single {
  background-image: url("../image/people_fill.png");
}
.icon-logout {
  background-image: url("../image/logout.png");
}
.icon-upload {
  background-image: url("../image/android-upload.png");
}
.icon-domnload {
  background-image: url("../image/download-cloud.png");
}
.icon-message {
  background-image: url("../image/message.png");
}