@import './base.less';
// @import url("//unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css");
html{
  height: 100%;
  overflow: hidden;
}
body{
  height: calc(~"100% - 40px");
  // overflow: hidden
}
.el-breadcrumb__inner{
  cursor: pointer!important;
  &:hover{
    color: #409EFF!important;
  }
}
.page-wrap{
  text-align: right;
  padding-right: 100px
}
.el-submenu__title:hover{
  background-color: #20a0ff!important;
}
.el-scrollbar__wrap {
  overflow-x: hidden!important;
}
.el-submenu__icon-arrow {
  color: white!important
}
.el-collapse-item__header{
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  line-height: 42px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  background-color: #eef1f6;
}
.user-wrap,.platformManager{
  .el-form-item__content{
    width: 220px!important;
  }
}
.contenter-manager{
  .el-form-item__content,.el-select{
    min-width: 240px
  }
  .el-checkbox + .el-checkbox {
    margin-left: 60px;
  }
}

//TODO: 海报编辑界面需要加上的全局样式 start
.center-icon{
  display: inline-block;
  font-style: normal;
  width: 60px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  text-align: center;
  position: relative;
  font-size: 13px;
  &.save{
    background-image: url("../image/save.png");
    &:after{
      display: inline-block;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 60px;
      height: 20px;
      color: #ffff;
      content: '保存'
    }
  }
  &.reUpload{
    background-image: url("../image/reUpload.png");
    &:after{
      display: inline-block;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 60px;
      height: 20px;
      color: #ffff;
      content: '重新上传'
    }
  }
  &:hover{
    cursor: pointer;
    // background-color: #20a0ff;
  }
}

.el-upload-list__item.is-ready{
 overflow: visible!important;
 text-align: center!important
}
.el-upload-list__item.is-ready::after{
  content: attr(imgName);
  position: absolute;
  top: 145px;
  left: 0;
  line-height: 20px;
  display: inline-block;
  width: 148px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.el-upload-list__item-preview{
  display: none
}
.el-upload-list--picture-card .el-upload-list__item-actions:hover .el-upload-list__item-preview{
  display: none
}
.posterEditor{
  .el-dialog__header{
    border-bottom: 1px solid #d7dbde
  }
  .el-dialog__body{
    height: 460px;
    padding: 0 20px;
  }
  .el-dialog__footer{
    border-top: 1px solid #d7dbde
  }
  .el-collapse {
    border: none
  }
  .el-collapse-item__header{
    display: inline-block;
    box-sizing: border-box;
    height: 36px;
    width: 160px;
    line-height: 33px;
    font-weight: 300;
    font-size: 12px;
    padding-left: 0px;
    background-color: #ffffff;
    border: none
  }
  .el-collapse-item__arrow{
    float: left;
    line-height: 33px;
    color: #20a0ff
  }
  .el-upload-list__item-thumbnail{
    width: auto!important;
    height: auto!important;
    max-width: 146px!important;
    max-height: 146px!important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
  }
  .el-upload-list__item,.el-upload--picture-card{
    vertical-align: top;
    margin-top: 20px!important;
  }
}
.el-tree-node__content{
  position: relative;
  height: 38px!important;
  border-bottom: 1px solid #eef1f6;
  &:active{
    background-color: #f5f7fa;
  }
  .el-checkbox{
    position: absolute;
    left: 15px;;
  }
  .el-tree-node__expand-icon{
    position: absolute;
    left: 40px;
    background-image: url("../image/file.png");
    transform:''!important;
    transition:''!important;
    &::before{
      content: ' '
    }
    &.expanded {
      transform: rotate(0deg);
    }
  }

  .el-tree-node__label{
    position: absolute;
    left: 57px;
  }
}
.el-tree-node__children{
  .el-tree-node__label{
    position: absolute;
    left: 57px;
  }
  .el-icon-caret-right{
    background-image: none
  }
}

// 海报编辑界面需要加上的全局样式 end

/*
**表格相关css配置 #eef1f6
*/
.table-wrap{
  box-sizing: border-box;
  overflow: hidden;
  min-height: 140px;
  .table-content{
    height: 100%;
    min-height: 60px;
    .el-table{
      th{
        background-color: #eef1f6!important; 
      }
    }
  }
}
/* 底部区 start */
.app-footer {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	z-index: 100
}

.app-footer > div:first-child {
	width: 174px;
	text-align: center;
	height: 100%;
	line-height: 40px;
	background-color: #20A0FF;
	color: #fff;
	position: absolute;
}

.app-footer > div {
	font-size: 12px;
	color: #646464;
	text-align: center;
	border-top: solid 1px #ccc;
	background-color: #fff;
	height: 100%;
	// margin-left: 240px;
}

.app-footer > div > p {
	margin-top: 4px;
}
/* 底部区 end */

/*
  图标相关
*/
.icon {
  display: inline-block;
  font-style: normal;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.icon-single {
  background-image: url("../image/people_fill.png");
}
.icon-logout {
  background-image: url("../image/logout.png");
}
.icon-upload {
  background-image: url("../image/android-upload.png");
}
.icon-domnload {
  background-image: url("../image/download-cloud.png");
}
.icon-message {
  background-image: url("../image/message.png");
}
.icon-pencil {
  background-image: url("../image/cc-pencil.png");
}
.icon-capture {
  background-image: url("../image/capture.png");
}
.icon-reUploadSmall {
  background-image: url("../image/reUploadSmall.png");
}

.center-editor {
  background-image: url("../../assets/bc.jpg");
}

// menu使用的图标
.menu-icon{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.menu-index {
  background-image: url("../image/menu-index.png");
}
.menu-contenter {
  background-image: url("../image/menu-contenter.png");
}
.menu-report {
  background-image: url("../image/menu-report.png");
}
.menu-backend {
  background-image: url("../image/menu-backend.png");
}
.menu-sys {
  background-image: url("../image/menu-sys.png");
}